@import '../index.scss';

.ProjectSliderItem{
    p{
        font-size: 100px;
        text-transform: uppercase;
        line-height: 83px;
        cursor: pointer;
        //font-weight: bold;
        color: rgb(63, 63, 63);
        transition: all 150ms ease-out;

        &:hover{
            color: $white;
        }

        .js_char_item{
            transform-origin: bottom;
            transition: all 150ms ease-out;
        }
    }
}